

.game-cont{
    width: 800px;
    height: 400px;
    background-color: white ;
    margin: auto;
    border-bottom: 1px solid black;
}





#pers{
    width: 30px;
    height: 30px;
    position: relative;
    background-image: url(./img/pngwing.com.png);
    background-size: 30px 30px;
    top: 365px;
}